.action-btn-light {
  display: inline-block;
  font-size: 1.25em;
  font-family: 'Comfortaa-Bold';
  text-decoration: none;
  margin: 5px 0 5px 0;
  padding: 8px 25px 3px 20px;
  border-radius: 30px;
  color: #352c44;
  transition-duration: 300ms;
  border: 2px solid rgba(0, 0, 0, 0);
}

.action-btn-light:hover {
  color: #eeeeee;
  background-color: rgba(53, 44, 68, 0.9);
  transition-duration: 200ms;
}

.current-a-btn-light {
  border: 2px solid #352c44;
}
