.follow-btn-light {
  text-align: center;
  display: inline-block;
  font-size: 1em;
  font-family: 'Roboto';
  text-decoration: none;
  margin: 15px 0 5px 0;
  padding: 7px 15px 5px 15px;
  border-radius: 30px;
  color: #352c44;
  border: 1px solid #352c44;
  transition-duration: 300ms;
  background-color: transparent;
}

.follow-btn-light:hover {
  cursor: pointer;
  color: #eee;
  background-color: #352c44;
  transition-duration: 200ms;
}

.follow-btn-light:active {
  cursor: pointer;
  background-color: rgba(53, 44, 68, 0.8);
  transition-duration: 200ms;
}

.follow-btn-light:focus {
  outline: none;
}

.following-btn-light {
  text-align: center;
  display: inline-block;
  font-size: 1em;
  font-family: 'Roboto';
  text-decoration: none;
  margin: 15px 0 5px 0;
  padding: 7px 15px 5px 15px;
  border-radius: 30px;
  border: 1px solid #352c44;
  transition-duration: 300ms;
  color: #eee;
  background-color: #352c44;
}

.following-btn-light:hover {
  cursor: pointer;
}

.following-btn-light:active {
  cursor: pointer;
  background-color: rgba(53, 44, 68, 0.8);
  transition-duration: 200ms;
}

.following-btn-light:focus {
  outline: none;
}
