.post-btn-light {
  text-align: center;
  display: inline-block;
  font-size: 1.25em;
  font-family: 'Comfortaa-Bold';
  text-decoration: none;
  margin: 15px 0 5px 0;
  padding: 7px 0 5px 0;
  border-radius: 30px;
  color: #eee;
  transition-duration: 300ms;
  background-color: #352c44;
  border: none;
  width: 100%;
}

.post-btn-light:hover {
  cursor: pointer;
  background-color: rgba(53, 44, 68, 0.8);
  transition-duration: 200ms;
}

.post-btn-light:active {
  cursor: pointer;
  background-color: rgba(53, 44, 68, 0.95);
  transition-duration: 200ms;
}

.post-btn-light:focus {
  outline: none;
}
