@font-face {
  font-family: 'Comfortaa';
  src: url('../font/Comfortaa-Regular.ttf');
}

@font-face {
  font-family: 'Comfortaa-Light';
  src: url('../font/Comfortaa-Light.ttf');
}

@font-face {
  font-family: 'Comfortaa-Bold';
  src: url('../font/Comfortaa-Bold.ttf');
}

.btn-effect:hover {
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition-duration: 200ms;
}

.tag-style {
  color: #352c44;
}
